<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Gamesale</title>
</head>
<body>

      <h1>The Gamesale</h1>

      {% for row in rows %}
      <p>Order:
         <b> <a href={{ url_for('GameSale_details', Name= row['Name']) }}>{{row["Name"]}}</a></b> |
         {{row["Gamelist_name"]}} |
         {{order[0]["NASales"]}} |
        {{ order[0]["EUSales"]}}
		 {{order[0]["JPSales"]}} |
        {{ order[0]["OtherSales"]}}
		{{ order[0]["GlobalSales"]}}
      </p>
      {% endfor %}
</body>
</html>