<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Gamesale</title>
</head>
<body>

      <h1>The Gamesale</h1>

      {% for row in rows %}
      <p>GameSale:
         <b> <a href={{ url_for('GameSale_details', id= row['id']) }}>{{row["id"]}}</a></b> |
            {{GameSale["Gamelist_name"]}} |
            {{GameSale[0]["NASales"]}} |
            {{ GameSale[0]["EUSales"]}}
            {{GameSale[0]["JPSales"]}} |
            {{GameSale[0]["OtherSales"]}}
            {{GameSale[0]["GlobalSales"]}}
      </p>
      {% endfor %}
</body>
</html>